
.ArchiImg img{

    width: 600px;
    
    padding-left: 25%;

}
.ArchiImg{
    margin-top: 60px;
    background-color: rgb(127, 121, 121);
    padding-left: 100px;
    padding-bottom: 200PX;
}






