.title{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(199, 232, 179);
    
}
.subtitle{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 20px;
    color: rgb(199, 232, 179);
    
}
.AboutImg img{

    width: 800px;
    height: 300px;
    padding-left: 25%;

}
.AboutImg{
    margin-top: 50px;
    margin-bottom: 50px;
}
.FactAboutImg img{

    width: 800px;
    height: 500px;
    padding-left: 25%;

}
.FactAboutImg{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    /* border: solid 2px black; */
}
.Mapbody{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(127, 121, 121);
    border: solid 3px black;
    border-radius: 15px;
}